.header {
  background: #fff;
  width: 90%;
  margin: 0 auto;
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //box-shadow: 0 0 20px 2px var(--dark);
    border-radius: 15px;
  }
  h1 {
    align-self: center;
    font-family: "Metal Mania", Arial, sans-serif;
    font-style: normal;
    text-shadow: 0 0 0.8rem var(--overlay-mask);
  }
  &__addTodo {
    position: absolute;
    top: 0;
    right: -400px;
    margin: 0;
    padding: 0;
    width: 90%;
    max-width: 300px;
    height: 98vh;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px 2px var(--dark);
    border-radius: 20px 0 0 20px;
    background: var(--light);
    color: var(--light);
    transition: right 250ms ease-out;
    display: none;
  }
  &__enabled {
    right: 0;
    display: block;
    z-index: 1;
  }
  &__select-wrapper {
    align-self: center;
  }
  &__showSidebarBtn {
    margin: 10px 0;
    width: 140px;
    height: 45px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--overlay-mask);
    color: var(--light);
    cursor: pointer;
    font-size: 13px;
    font-weight: 1000;
  }
  &__showSidebarBtn:hover {
    background-color: var(--dark);
    color: var(--light);
  }
  select {
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 44px;
    border-radius: 10px;
    border: none;
    outline: none;
  }
}
