.todo-Wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}

@media screen and (max-width: 1024px) {
  .todo-Wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .todo-Wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 50px;
  }
}
