@import "../../App.scss";

.todo-wrapper-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  justify-self: center;
  grid-gap: 10px;
  padding: 10px;
}

.todo-wrapper-flex {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  .todo-wrapper-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .todo-wrapper-grid {
    @include mobileStyle;
  }
}
