* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  text-align: center;
}

.App {
  text-align: center;
}

:root {
  --light: #fafafa;
  --dark: rgb(21, 17, 37);
  --primary: #5c107a;
  --primary-dark: #411253;
  --blue: #d7d1f0;
  --red: #dc3545;
  --red-light: #f53c6ab3;
  --dark: rgb(46, 39, 40);
  --overlay-mask: rgba(73, 78, 85, 0.9);
  --shaded-dark: rgb(40, 36, 58);
  --yellow: rgb(228, 160, 15);
  --green: #3f8839;
  --ligth-green: rgb(79, 165, 51);
}
